@import "tailwindcss";

@theme {
  /* Design System Variables */
  --color-brand-black: #000000;
  --color-brand-white: #FFFFFF;
  --color-brand-red: #FF3B1D;
  --color-brand-grey-100: #F5F5F7;
  --color-brand-grey-800: #1A1A1B;
  --color-brand-grey-900: #121212;

 --font-heading: var(--font-bricolage);
  --font-body: var(--font-inter)
}
.test{
  color: #dadadb
}

@layer base {
  /* Force all headings to use Bricolage Grotesque by default */
  h1, h2, h3, .font-heading {
    font-family: var(--font-bricolage), sans-serif !important;
  }

  html {
    background-color: #000000; /* Force black background at the highest level */
  }
  body {
    background-color: #000000;
    color: #ffffff;
    @apply antialiased;
    overflow-x: hidden; /* Prevent horizontal scroll on mobile */
  }
}

::selection {
  background-color: #FF3B1D;
  color: white;
}